# Ignora la cartella .vscode ricorsivamente
**/.vscode/

# Ignora i file generati dalla compilazione LaTeX (esclusi .tex e .pdf)
**/*.aux
**/*.log
**/*.out
**/*.synctex.gz
**/*.toc

# Ignora il file .DS_Store
**/.DS_Store

# Mantieni ricorsivamente la cartella /src
/src/

# Mantieni ricorsivamente la cartella /img
/img/